* {
    margin: 0;
    padding: 0;
}
#gameContainer {
    width: 400px;
    height: 600px;
    background: #000033;
    background-image: url('../src/img/background.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    overflow: hidden;
    margin: 20px auto;
}
#player {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 50px;
    left: 175px;
}
#boss {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 50px;
    left: 175px;
}
.bullet {
    width: 10px;
    height: 20px;
    position: absolute;
    z-index: 10;
}
.boss {
    width: 40px;
    height: 40px;
    position: absolute;
}
#playerHealth {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 20px;
    z-index: 100;
    font-family: Arial, "Microsoft YaHei", sans-serif;
}
#bossHealth {
    position: absolute;
    top: 50px;
    left: 10px;
    color: white;
    font-size: 20px;
    z-index: 100;
    font-family: Arial, "Microsoft YaHei", sans-serif;
}
#instructions {
    text-align: center;
    margin: 10px;
    font-family: Arial, "Microsoft YaHei", sans-serif;
}