* {
    margin: 0;
    padding: 0;
}
#gameContainer {
    /*width: 400px;
    height: 600px;*/
    width: 67vh;
    height: 100vh;
    background: #000033;
    background-image: url('../src/img/background.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    overflow: hidden;
    margin: auto auto;
}
#gameBar {
    /*width: 400px;
    height: 600px;*/
    width: 100vw;
    height: 100vh;
    background: #4C5A58;
    position: relative;
    overflow: hidden;
    margin: auto auto;
}
#player {
    width: 6.66vh;
    height: 6.66vh;
    position: absolute;
    bottom: 50px;
    left: 175px;
    z-index: 11;
}
#boss {
    width: 6.66vh;
    height: 6.66vh;
    position: absolute;
    bottom: 50px;
    left: 175px;
    z-index: 9;
}

.bullet {
    width: 1.66vh;
    height: 1.66vh;
    position: absolute;
    z-index: 10;
}

#playerHealth {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 20px;
    z-index: 100;
    font-family: Arial, "Microsoft YaHei", sans-serif;
}
#bossHealth {
    position: absolute;
    top: 50px;
    left: 10px;
    color: white;
    font-size: 20px;
    z-index: 100;
    font-family: Arial, "Microsoft YaHei", sans-serif;
}
#instructions {
    text-align: center;
    margin: 10px;
    font-family: Arial, "Microsoft YaHei", sans-serif;
}
#gameEndMsg {
    position: absolute;
    top: 50%; /* 距离顶部 300px */
    left: 30%; /* 距离左边 30% */
    color: white;
    font-size: 20px;
    z-index: 100;
    font-family: Arial, "Microsoft YaHei", sans-serif;
}

#restart-button {
    position: absolute; /* 绝对定位 */
    bottom: -10px;
    left: -50%; 
    transform: translateX(-50%); /* 水平居中 */
    padding: 10px 20px; /* 内边距 */
    background-color: #8f7a66; /* 背景颜色 */
    color: #f9f6f2; /* 文字颜色 */
    border: none; /* 无边框 */
    border-radius: 5px; /* 圆角 */
    cursor: pointer; /* 鼠标指针样式 */
    font-size: 18px; /* 字体大小 */
    font-weight: bold; /* 加粗字体 */
    z-index: 100;
}
 
#restart-button:hover {
    background-color: #746655; /* 鼠标悬停时的背景颜色 */
}

#pause-button {
    position: absolute; /* 绝对定位 */
    top: 10px;
    left: 95%; 
    transform: translateX(-50%); /* 水平居中 */
    padding: 10px 20px; /* 内边距 */
    background-color: #66ccff; /* 背景颜色 */
    color: #005c8a; /* 文字颜色 */
    border: none; /* 无边框 */
    border-radius: 5px; /* 圆角 */
    cursor: pointer; /* 鼠标指针样式 */
    font-size: 18px; /* 字体大小 */
    font-weight: bold; /* 加粗字体 */
    z-index: 100;
}

#pause-button:hover {
    background-color: #ed65ff; /* 鼠标悬停时的背景颜色 */
}
